#!/bin/sh

export TOOLS_DIR=$HOME/work/Tools
export NASM_PREFIX=$HOME/work/Tools/

if [[ "$1" == "clang" ]]; then
    export IA32_TOOLS_DIR=/usr/local/bin
    export X64_TOOLS_DIR=/usr/local/bin
    shift
else
    export IA32_TOOLS_DIR=/usr/bin
    export X64_TOOLS_DIR=/usr/bin
fi

if [ -z $1 ]; then
    VEB=MsiH110Slim make |& tee bld
else
    VEB=MsiH110Slim make $1
fi
